HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### agents ###
.test-agent
__pycache__/
*.pyc

#przed uruchomieniem planowania testow dla NotificationService
#Aug 15, 2026	508.47	$5.08	0	$0.00
#po utworzeniu planowania testow dla NotificationService
#Aug 15, 2026	555.21	$5.55	0	$0.00
#po utworzeniu testow na podstawie planu
#Aug 15, 2026	580.08	$5.80	0	$0.00